body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

a:link, a:hover {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTitle {
    padding-left: 25%;
    padding-top: 5%;
}

.buttonsAccess {
    padding-left: 15%;
    padding-top: 5%;
}

.btn.btn-danger {
    min-height: 95px;
    min-width: 131px;
    background-color: #dc3636;
    border-color: #dc3636;
}

.btn.btn-danger:hover, .btn.btn-danger:active {
    background-color: #b42727;
    border-color: #b42727;  
}

.btn-aligned {
    margin-left: 5%;
}

.fa-solid {
    font-size: 40px;
}

.logo-aligned {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 21%;
    max-width: 80%;
}

.chat-aligned {
    color: #ffffff;
    background-color: #dc3636;
    border: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 4%;
    border-radius: 70%;
}

.chat-aligned:hover {
    background-color: #b42727;
}
